<h1>Roman History For Kids</h1>
<div class="home-container">
<p>Welcome to roman history for kids, Here you can explore the fascinating world of the roman empire.</p>
<h2>Explore Topics</h2>
<ul>
  <li><%= link_to "Roman Emperors", emperors_path %> - Discover the powerful rulers of the Roman Empire!</li>
  <li><%= link_to "Historical Roman Places", roman_places_path %> - Explore amazing ancient sites and landmarks!</li>
  <li><%= link_to "Roman Gods & Mythology", gods_path %> - Discover the powers and stories of the almighty gods worshipped by the romans!</li>
  <li><%= link_to "Important Roman Battles", battles_path %> - Discover important battles that shaped the future of Rome!</li>
</ul>
</div>